@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./bg.png);
}
.start-btn,
.info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;

}