@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./bg.png);
}
.start-btn,
.info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}
.info-box{
    display: none;
    width: 540px;
    background: #fff;
    border-radius: 5px;
}
.info-box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.info-box .info-list{
    padding: 15px 35px;
}
.info-box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
    color: black;
}
.info-box .info-list .info span {
    font-weight: 600;
    color: blue;
}
.info-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}
.info-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.buttons button.restart{
    color: white;
    border-color: black;
}
.buttons button.restart:hover{
    background: white;
}
.buttons button.quit{
    color: white;
    border-color: black;
}
.buttons button.quit:hover{
   color: white;
   background: blue;
}